@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
}

.container-80 {
  width: 80%;
  margin: 0 auto;
}

.container-60 {
  width: 60%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

main {
  background-color: black;
  color: white;
}
main .jumbotron-bg {
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
main .current {
  position: absolute;
  bottom: -20px;
  left: 12em;
  background-color: #0082f9;
}
main .current h2 {
  font-size: 1.2em;
  padding: 0.5em 1em;
  color: white;
  font-weight: bold;
}
main .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  padding: 2em 0;
}
main .cards-container .card {
  width: 150px;
  margin: 10px;
  cursor: pointer;
}
main .cards-container .card .container-img {
  height: 150px;
  width: 150px;
  overflow: hidden;
}
main .cards-container .card .container-img img {
  width: 100%;
}
main .cards-container .card a {
  font-size: 0.8em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 10px;
}
main .cards-container .card:hover {
  transform: scale(1.1);
}
main .button {
  justify-content: center;
  align-items: center;
}
main .button button {
  background-color: #0082f9;
  padding: 0.5em 2.5em;
  border: none;
  margin-bottom: 2em;
}
main .button button a {
  color: white;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: bold;
}
main .container-icons {
  background-color: #0082f9;
}
main .container-icons .container-80 {
  display: flex;
  padding: 2em;
}
main .container-icons .container-80 .box {
  display: flex;
  align-items: center;
  width: 20%;
  margin-left: 3em;
  cursor: pointer;
}
main .container-icons .container-80 .box img {
  width: 15%;
}
main .container-icons .container-80 .box h3 {
  font-size: 0.6em;
  margin-left: 1em;
  text-transform: uppercase;
}

.container-comics .jumbotron-bg {
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
.container-comics .container-img {
  background-color: #0082f9;
  height: 60px;
  position: relative;
}
.container-comics .container-img img {
  position: absolute;
  bottom: 10px;
  left: 25%;
  width: 150px;
  border: 2px solid white;
  z-index: 4;
}
.container-comics .container-60 .container-text {
  padding: 3em 0;
}
.container-comics .container-60 .container-text .col-left {
  width: 80%;
  padding: 0.8em 0;
}
.container-comics .container-60 .container-text .col-left h1 {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
}
.container-comics .container-60 .container-text .col-left .ticket {
  background-color: #55ba59;
  font-size: 0.8em;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.container-comics .container-60 .container-text .col-left .ticket .col-left {
  justify-content: space-between;
  border-right: 1px solid black;
  padding: 0.6em 1.4em;
}
.container-comics .container-60 .container-text .col-left .ticket .col-left p {
  color: #a3fe9c;
}
.container-comics .container-60 .container-text .col-left .ticket .col-left p span {
  color: white;
  font-weight: bold;
}
.container-comics .container-60 .container-text .col-left .ticket .col-right {
  width: 20%;
  justify-content: center;
  align-items: center;
}
.container-comics .container-60 .container-text .col-left .ticket .col-right a {
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.container-comics .container-60 .container-text .col-left .comics-description {
  width: 90%;
}
.container-comics .container-60 .container-text .col-left .comics-description p {
  font-size: 0.8em;
  color: grey;
}
.container-comics .container-60 .container-text .col-right {
  cursor: pointer;
}
.container-comics .container-60 .container-text .col-right h3 {
  text-align: right;
  color: grey;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.container-comics .container-info {
  background-color: #f6f6f6;
  padding-top: 2em;
}
.container-comics .container-info .container-60 {
  justify-content: space-between;
}
.container-comics .container-info .container-60 .col-left {
  width: 50%;
}
.container-comics .container-info .container-60 .col-left h2 {
  font-weight: bold;
  margin-bottom: 1em;
}
.container-comics .container-info .container-60 .col-left .artist,
.container-comics .container-info .container-60 .col-left .writers {
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 1em 0;
  width: 100%;
}
.container-comics .container-info .container-60 .col-left .artist .col-left,
.container-comics .container-info .container-60 .col-left .writers .col-left {
  width: 30%;
}
.container-comics .container-info .container-60 .col-left .artist .col-left p,
.container-comics .container-info .container-60 .col-left .writers .col-left p {
  color: grey;
  font-size: 0.8em;
}
.container-comics .container-info .container-60 .col-left .artist .col-right,
.container-comics .container-info .container-60 .col-left .writers .col-right {
  width: 70%;
}
.container-comics .container-info .container-60 .col-left .artist .col-right a,
.container-comics .container-info .container-60 .col-left .writers .col-right a {
  text-decoration: none;
  font-size: 0.8em;
  color: #60b7e1;
}
.container-comics .container-info .container-60 .col-right {
  width: calc(50% - 4em);
  margin-left: 4em;
}
.container-comics .container-info .container-60 .col-right h2 {
  font-weight: bold;
  margin-bottom: 1em;
}
.container-comics .container-info .container-60 .col-right .series,
.container-comics .container-info .container-60 .col-right .price,
.container-comics .container-info .container-60 .col-right .sale-date {
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 1em 0;
  width: 100%;
}
.container-comics .container-info .container-60 .col-right .series .col-left,
.container-comics .container-info .container-60 .col-right .price .col-left,
.container-comics .container-info .container-60 .col-right .sale-date .col-left {
  width: 30%;
}
.container-comics .container-info .container-60 .col-right .series .col-left p,
.container-comics .container-info .container-60 .col-right .price .col-left p,
.container-comics .container-info .container-60 .col-right .sale-date .col-left p {
  color: grey;
  font-size: 0.8em;
}
.container-comics .container-info .container-60 .col-right .series .col-right,
.container-comics .container-info .container-60 .col-right .price .col-right,
.container-comics .container-info .container-60 .col-right .sale-date .col-right {
  width: 70%;
}
.container-comics .container-info .container-60 .col-right .series .col-right a,
.container-comics .container-info .container-60 .col-right .price .col-right a,
.container-comics .container-info .container-60 .col-right .sale-date .col-right a {
  text-decoration: none;
  font-size: 0.8em;
  color: #60b7e1;
  text-transform: uppercase;
}
.container-comics .container-info .container-icons {
  border-top: 1px solid lightgray;
  margin-top: 8em;
}
.container-comics .container-info .container-icons .container-60 .box {
  width: 25%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em;
  border: 1px solid lightgray;
}
.container-comics .container-info .container-icons .container-60 .box img {
  width: 25px;
  filter: invert(30%);
}
.container-comics .container-info .container-icons .container-60 .box h3 {
  font-size: 0.7em;
  color: grey;
}

header {
  position: relative;
  width: 100%;
  height: 140px;
  z-index: 9999;
  background-color: white;
  display: flex;
  flex-direction: column;
}
header .header-top {
  background-color: #0082f9;
}
header .header-top .container-80 {
  justify-content: flex-end;
}
header .header-top .container-80 h4 {
  color: white;
  font-size: 0.5em;
  font-weight: bold;
  margin-right: 1.2em;
  padding: 0.4em;
}
header .container-80 .header-bottom {
  justify-content: space-between;
  align-items: center;
}
header .container-80 .header-bottom img {
  width: 70px;
}
header .container-80 .header-bottom ul {
  list-style: none;
}
header .container-80 .header-bottom ul li a {
  font-size: 1em;
  text-decoration: none;
  color: black;
  display: block;
  padding: 3em 0.5em;
  border-bottom: 4px solid transparent;
  transition: 0.6s;
}
header .container-80 .header-bottom ul li a:hover {
  color: #0082f9;
  border-bottom: 4px solid #0082f9;
}
header .container-80 .header-bottom ul li a.active {
  color: #0082f9;
  border-bottom: 4px solid #0082f9;
}
header .container-80 .header-bottom .input input {
  padding: 0.5em;
  border: none;
  border-bottom: 2px solid #0082f9;
}

footer .footer-top {
  background-image: url(/images/footer-bg.jpg);
  background-size: cover;
  position: relative;
}
footer .footer-top .container-80 {
  display: flex;
  background-image: url(/images/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
  padding: 2em;
}
footer .footer-top .container-80 .col-left {
  display: flex;
}
footer .footer-top .container-80 .col-left .col {
  margin: 0 2em 0 0;
}
footer .footer-top .container-80 .col-left .col h3 {
  color: white;
  margin-bottom: 0.5em;
}
footer .footer-top .container-80 .col-left .col ul {
  list-style: none;
}
footer .footer-top .container-80 .col-left .col ul li {
  margin-bottom: 0.3em;
}
footer .footer-top .container-80 .col-left .col ul li a {
  color: #797979;
  text-decoration: none;
  font-size: 0.8em;
  cursor: pointer;
}
footer .footer-top .container-80 .col-left .col ul li a:hover {
  color: #0082f9;
  z-index: 3;
}
footer .footer-bottom {
  background-color: #30302f;
  height: 100px;
  display: flex;
  z-index: 2;
}
footer .footer-bottom .container-80 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom .container-80 .button {
  text-decoration: none;
  color: white;
  padding: 1em 1.5em;
  border: 2px solid #0082f9;
  transition: 0.5s;
}
footer .footer-bottom .container-80 .button:hover {
  background-color: #0082f9;
}
footer .footer-bottom .container-80 .col-right {
  display: flex;
  align-items: center;
}
footer .footer-bottom .container-80 .col-right #follow {
  font-size: 1.2em;
  margin-right: 0.5em;
  color: #0082f9;
  cursor: pointer;
}
footer .footer-bottom .container-80 .col-right img {
  margin: 0 0.5em;
  cursor: pointer;
}
footer .footer-bottom .container-80 .col-right img:hover {
  filter: opacity(0.3);
}