@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
}

.container-80 {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

main {
  background-color: black;
  color: white;
}

main .jumbotron-bg {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

main .current {
  position: absolute;
  bottom: -20px;
  left: 12em;
  background-color: #0082f9;
}

main .current h2 {
  font-size: 1.2em;
  padding: 0.5em 1em;
  color: white;
  font-weight: bold;
}

main .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  padding: 2em 0;
}

main .cards-container .card {
  width: 150px;
  margin: 10px;
  cursor: pointer;
}

main .cards-container .card .container-img {
  height: 150px;
  width: 150px;
  overflow: hidden;
}

main .cards-container .card .container-img img {
  width: 100%;
}

main .cards-container .card h2 {
  font-size: 0.8em;
  text-transform: uppercase;
  margin-top: 10px;
}

main .cards-container .card:hover {
  transform: scale(1.1);
}

header {
  position: relative;
  width: 100%;
  height: 140px;
  z-index: 9999;
  background-color: white;
  display: flex;
  flex-direction: column;
}

header .header-top {
  background-color: #0082f9;
}

header .header-top .container-80 {
  justify-content: flex-end;
}

header .header-top .container-80 h4 {
  color: white;
  font-size: 0.5em;
  font-weight: bold;
  margin-right: 1.2em;
  padding: 0.4em;
}

header .container-80 .header-bottom {
  justify-content: space-between;
  align-items: center;
}

header .container-80 .header-bottom img {
  width: 70px;
}

header .container-80 .header-bottom ul {
  list-style: none;
}

header .container-80 .header-bottom ul li a {
  font-size: 1em;
  text-decoration: none;
  color: black;
  display: block;
  padding: 3em 0.5em;
  border-bottom: 4px solid transparent;
  transition: 0.6s;
}

header .container-80 .header-bottom ul li a:hover {
  color: #0082f9;
  border-bottom: 4px solid #0082f9;
}

header .container-80 .header-bottom ul li a.active {
  color: #0082f9;
  border-bottom: 4px solid #0082f9;
}

header .container-80 .header-bottom .input input {
  padding: 0.5em;
  border: none;
  border-bottom: 2px solid #0082f9;
}

