main {
    background-color: black;
    color: white;
    // margin-top: 115px;
    .jumbotron-bg {
        background-image: url("../../img/jumbotron.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        position: relative;
    }
    .current {
        position: absolute;
        bottom: -20px;
        left: 12em;
        background-color: #0082f9;
        h2 {
            font-size: 1.2em;
            padding: 0.5em 1em;
            color: white;
            font-weight: bold;
        }
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5em;
        padding: 2em 0;
        .card {
            width: 150px;
            margin: 10px;
            cursor: pointer;
            .container-img {
                height: 150px;
                width: 150px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            h2 {
                font-size: 0.8em;
                text-transform: uppercase;
                margin-top: 10px;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
